<!DOCTYPE html>
<html lang="ru" class="c">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <title>{{title_header}}</title>


</head>
 
{% for item in main_styles_start %}

<link rel="stylesheet" href="{{hostname}}{{item}}?{{version}}">

{% endfor %}

<style type="text/css" media="all">
    .chosen-rtl .chosen-drop { left: -9000px; }
</style>




{% for item in page_style %}

<link rel="stylesheet" href="{{hostname}}{{item}}?{{version}}">

{% endfor %}






{% for item in main_styles_end %}
<link rel="stylesheet" href="{{hostname}}{{item}}?{{version}}">
{% endfor %}
<body class="skin-blue" style="">
