 



{% if h_check == true %}
    {% if h_check_type == "edit" %}


        <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                       <li><a href="{{hostname}}helper ">{{HELPER_title}}</a></li>
                       <li class="active"><a href="{{hostname}}helper?cat={{cat_id}}">{{get_helper_cat_name}}</a></li>
                        
                    </ol>
                </section>
                
                 
                
            <section class="content">


<div class="row">
   
    <div class="col-md-12">

            <div class="box box-solid">
            <div class="box-body">
            <form class="form-horizontal" role="form">


                <div class="form-group">
                    <label for="u" class="col-md-2 control-label"><small>{{HELPER_cat}}: </small></label>
                    <div class="col-md-10">
                        <select style="height: 34px;" data-placeholder="{{HELPER_cat}}" class="chosen-select form-control" id="cat" name="cat_id">
                            
{% for item in cat_id_arr %}

                                <option value="{{item.value}}" {{item.sel_cat}}>{{item.label}}</option>

                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="u" class="col-md-2 control-label"><small>{{NEW_to}}: </small></label>
                    <div class="col-md-10">
                        
                        <select data-placeholder="{{NEW_to_unit}}" class="chosen-select form-control" id="u" name="unit_id" multiple>
                            
                        <option value="0" {{ar_n}}>{{HELP_all}}</option>
                            {% for item in u_arr %}

                                <option {{item.opt_sel}} value="{{item.value}}">{{item.label}}</option>
 
{% endfor %}

                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <div class="form-group">

                            <label for="t" class="col-sm-2 control-label"><small>{{HELP_desc}}: </small></label>

                            <div class="col-sm-10">


                                <input  type="text" name="fio" class="form-control input-sm" id="t" placeholder="{{HELP_desc}}" value="{{fio_title}}">



                            </div>



                        </div></div>
                        
                        
                        <div class="form-group">
  <label for="is_client" class="col-sm-2 control-label"><small>{{EXT_for_clients}}</small></label>
  <div class="col-sm-10">
  
  
  
      <div class="col-sm-10">
      <div class="checkbox">
    <label>
      <input type="checkbox" id="is_client" {{isclient_status}}> <?php echo lang('CONF_true'); ?>
      <p class="help-block"><small>{{EXT_for_clients_ext}}</small></p>
    </label>
  </div>
      </div>
  </div>
    </div>
    
    
                        
                    <div class="form-group">

                        <label for="t2" class="col-sm-2 control-label"><small>{{HELP_do}}: </small></label>

                        <div class="col-sm-10">


                            <div id="summernote_help">{{fio_message | raw}}</div>





<div class="text-muted well well-sm no-shadow" id="myid" >
  <div class="dz-message" data-dz-message>
<center class="text-muted">{{PORTAL_fileplace}}</center>
  </div>

<style type="text/css">
  .note-editor .note-dropzone { opacity: 0 !important; }
</style>

<form action="#" class=""></form>

<div class="table table-striped" class="files" id="previews">
 
  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->



<table class="table" style="margin-bottom: 0px;">
                  <tbody><tr>
                    <td style="width:50%"><small><p class="name" data-dz-name></p> </small></td>
                    <td><small class="text-muted"><p class="size" data-dz-size></p></small></td>
                    <td style="width:30%"><div class="progress progress-striped progress-sm" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success progress-sm" style="width:0%;" data-dz-uploadprogress></div>
        </div></td>
                    <td class="pull-right"><button data-dz-remove class="btn btn-xs btn-danger delete">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button></td>
                  </tr>

                </tbody></table>

</div>
  </div>
 
</div>



                        </div>
                        <div class="col-md-12"><hr>


{% if files_res == true %}
                    
                        <div class="row" style="padding:10px;">
                        <div class="col-md-3">
                            <center><small><strong>{{TICKET_file_list}}:</strong></small></center>
                        </div>
                        <div class="col-md-9">
                            <table class="table table-hover">
                                    <tbody>
                                {% for item in files_arr %}
                                    
                                    
                                    
                    <tr>
                        <td style="width:20px;"><small>{{item.ic| raw}}</small></td>
                        <td><small>{{item.ct| raw}}</small></td>
                        <td><small>{{item.fm}} Mb</small></td>
                    <td><button class="btn btn-xs btn-danger delete" id="delete_edited_manual_file" value="{{item.fhash}}">delete</button></td>
                    </tr>
{% endfor %}
                                    </tbody>
                            </table>

                        </div>
                        
                        
                        
                        
                        
                        
                    </div>


                {% endif %}

                </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button id="do_save_help" value="{{hn}}" class="btn btn-success" type="submit"><i class="fa fa-check-circle-o"></i> {{HELP_save}}</button>
                                </div>
                                <input type="hidden" id="manual_hash" value="{{hn}}">
                                <div class="btn-group">
                                    <a href="helper" class="btn btn-default" type="submit"><i class="fa fa-reply"></i> {{HELP_back}}</a>
                                </div>
                            </div>


                        </div>
            </form>
            </div></div></form></div></div></div></div></section>



{% endif %}
{% if h_check_type == "no_edit" %}



        <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li><a href="{{hostname}}helper ">{{HELPER_title}}</a></li>
                       <li class="active"><a href="{{hostname}}helper?cat={{cat_id}}">{{get_helper_cat_name}}</a></li>
                        
                    </ol>
                </section>
                
                
                
            <section class="content">


<div class="row">
    <div class="col-md-1">
        <a id="go_back" class="btn btn-primary btn-sm btn-block"><i class="fa fa-reply"></i> {{HELPER_back}}</a>
    </div>
    
    
    <div class="col-md-11">
        <div class="box box-solid">
            <div class="box-body">
            <h3 style=" margin-top: 0px; ">{{fio_t | raw}}</h3>
    <p>{{fio_m | raw}}</p>





{% if files_res == true %}
                    <hr style="margin:0px;">
                        <div class="row" style="padding:10px;">
                        <div class="col-md-3">
                            <center><small><strong>{{TICKET_file_list}}:</strong></small></center>
                        </div>
                        <div class="col-md-9">
                            <table class="table table-hover">
                                    <tbody>
                                {% for item in files_arr %}
                                    
                                    
                                    
                    <tr>
                        <td style="width:20px;"><small>{{item.ic | raw}}</small></td>
                        <td><small>{{item.ct | raw}}</small></td>
                        <td><small>{{item.fm}} Mb</small></td>
                    </tr>
{% endfor %}
                                    </tbody>
                            </table>

                        </div>
                        
                        
                        
                        
                        
                        
                    </div>


            {% endif %}
    <hr>
    
    <p class="text-right"><small class="text-muted">{{HELPER_pub}}: {{fio_init | raw}}</small><br><small class="text-muted"> <time id="c" datetime="{{fio_dt}}"</time>
<br>

{% if some_check == true %}
{{TICKET_t_last_up}}: {{fio_editu}}
{% endif %}


    </small>
    <br>
{% if priv_h == "yes" %}
                                 
            <div class="btn-group pull-right">
            <a id="print_t" class="btn btn-default btn-xs"> <i class="fa fa-print"></i> {{HELPER_print}}</a>
            <a href="{{hostname}}helper?h={{h}}&edit" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> {{CONF_act_edit}} </a>
            <button id="del_helper" value="{{h}}" type="button" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></button>
            </div>
            
                            
                            {% endif %}
                            <br>
        </p>
            </div>
        </div>
    </div>
</div>
            </section>
    
    
    
    
    
{% endif %}
    {% endif %}
    {% if h_check == false %}
        {% if h_check_type == "edit_cats" %}

    <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        <small>{{HELP_cats_title}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active"><a href="helper">{{HELPER_title}}</a></li>
                        <li class="active">{{HELP_cats_title}}</li>
                    </ol>
                </section>
                
                
                
            <section class="content">







                    <!-- row -->
                    <div class="row">
                    
                    
                    
                                        <div class="col-md-3">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{hostname}}helper?add" class="btn btn-success btn-sm btn-block"><i class="fa fa-file-o"></i> {{HELPER_create}}</a>
                    

                    {% if sc == true %}
                    <a href="{{hostname}}helper?edit_cats" class="btn btn-default btn-sm btn-block"><i class="fa fa-list"></i> {{HELP_cats_title}} </a>
                    {% endif %}
<br>
                    <div class="callout ">
                                        
                                        <small> <i class="fa fa-info-circle"></i> 
{{HELPER_cats_info}}
         </small>
                                    </div>
                        </div>
                        <div class="col-md-12">
                            






                        </div>
                    </div>
                    
                                    
                                    
                                    
                    
                    
                    
                    </div>

                    
                    <div class="col-md-9">
                         <div class="box box-solid">
            <div class="">
            
<style type="text/css">



        

        pre, code {
            font-size: 12px;
        }

        pre {
            width: 100%;
            overflow: auto;
        }

        small {
            font-size: 90%;
        }

        small code {
            font-size: 11px;
        }

        .placeholder {
            outline: 1px dashed #4183C4;
            /*-webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: -1px;*/
            height: 20px;
        }

        .mjs-nestedSortable-error {
            background: #fbe3e4;
            border-color: transparent;
        }

        ul {
            margin: 0;
            padding: 0;
            padding-left: 30px;
        }

        ul.sortable, ul.sortable ul {
            margin: 0 0 0 25px;
            padding: 0;
            list-style-type: none;
        }

        ul.sortable {
            margin: 0 0;
        }

        .sortable li {
            margin: 5px 0 0 0;
            padding: 0;
        }

        .sortable li div  {
            /*
            border: 1px solid #d4d4d4;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border-color: #D4D4D4 #D4D4D4 #BCBCBC;
            padding: 6px;
            margin: 0;
            cursor: move;
            background: #f6f6f6;
            background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
            background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
            background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
            background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
            */
        }

        .sortable li.mjs-nestedSortable-branch div {
           /* background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
            background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);
            */
            list-style-type: none;

        }

        .sortable li.mjs-nestedSortable-leaf div {


        }

        li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
            border-color: #999;
            background: #fafafa;
        }

        .disclose {
            cursor: pointer;
            width: 10px;
            display: none;
        }

        .sortable li.mjs-nestedSortable-collapsed > ul {
            display: none;
        }

        .sortable li.mjs-nestedSortable-branch > div > .disclose {
            display: inline-block;
        }

        .sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
            content: '+ ';
        }

        .sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
            content: '- ';
        }

        

        p, ol, ul, pre, form {
            margin-top: 0;
            margin-bottom: 1em;
        }

        dl {
            margin: 0;
        }

        dd {
            margin: 0;
            padding: 0 0 0 1.5em;
        }

        code {
            background: #e5e5e5;
        }

        input {
            vertical-align: text-bottom;
        }

        .notice {
            color: #c33;
        }

    </style>


<div class="">
                                <div class="box-header">
                                    
                                    <h3 class="box-title">{{HELP_cats_title}}</h3>

                                </div><!-- /.box-header -->
                                <div class="box-body">




<div id="content_items"> 


{{showMenu_helper | raw}}


</div>

                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix no-border">
                                    <button id="add_helper_item" class="btn btn-default pull-right"><i class="fa fa-plus"></i> {{NOTES_create}}</button>
                                </div>
                            </div>
            </div></div>
                    </div>
                    
                    
                    
                    </div>
            </section>    

{% endif %}
{% if h_check_type == "cat" %}


 <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        <small>{{rname}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active"><a href="helper">{{HELPER_title}}</a></li>
                        <li class="active">{{rname}}</li>
                    </ol>
</section>
                
                
                
            <section class="content">







                    <!-- row -->
                    <div class="row">
                    
                    
                    
                                        <div class="col-md-3">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{hostname}}helper?add" class="btn btn-success btn-sm btn-block"><i class="fa fa-file-o"></i> {{HELPER_create}}</a>
                    {% if sc2 == true %}
                    <a href="{{hostname}}helper?edit_cats" class="btn btn-default btn-sm btn-block"><i class="fa fa-list"></i> {{HELP_cats_title}} </a>
                    {% endif %}
<br>

                        </div>
                        <div class="col-md-12">
                            
                            <div class="box box-solid">
                                                                <div class="box-header">
                                    
                                    <h3 class="box-title">{{HELPER_cats}}</h3>

                                </div><!-- /.box-header -->
                                <div class="box-body">
                                {{show_items_helper | raw}}
                            </div>
                            </div>





                        </div>
                    </div>
                    
                                    
                                    
                                    
                    
                    
                    
                    </div>

                    
                    <div class="col-md-9">
                         <div class="box box-solid">


                                <div class="">
                                   {{show_item_helper_cat | raw}}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>




{% endif %}
{% if h_check_type == "add" %}

                <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        <small>{{HELPER_add}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active"><a href="helper">{{HELPER_title}}</a></li>
                        <li class="active">{{HELPER_add}}</li>
                    </ol>
                </section>
                
                
                
            <section class="content">







                    <!-- row -->
                    <div class="row">
                    
                    
                    
                                        <div class="col-md-3">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{hostname}}helper?add"  class="btn btn-success btn-sm btn-block"><i class="fa fa-file-o"></i> {{HELPER_create}}</a>
                    {% if sc == true %}
                    <a href="{{hostname}}helper?edit_cats" class="btn btn-default btn-sm btn-block"><i class="fa fa-list"></i> {{HELP_cats_title}} </a>
                    {% endif %}
<br>
                    <div class="callout ">
                                        
                                        <small> <i class="fa fa-info-circle"></i> 
{{HELPER_add_info}}
         </small>
                                    </div>
                        </div>
                        <div class="col-md-12">
                            






                        </div>
                    </div>
                    
                                    
                                    
                                    
                    
                    
                    
                    </div>
                    
                    <div class="col-md-9" id="">
            <div class="box box-solid">
            <div class="box-body">
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="u" class="col-md-2 control-label"><small>{{HELPER_cat}}: </small></label>
                    <div class="col-md-10">
                        <select style="height: 34px;" data-placeholder="{{HELPER_cat}}" class="chosen-select form-control" id="cat" name="cat_id">
                            
{% for item in catlist %}

                                <option value="{{item.value}}">{{item.label}}</option>

                            {% endfor %}

                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label for="u" class="col-md-2 control-label"><small>{{NEW_to}}: </small></label>
                    <div class="col-md-10">
                        <select style="height: 34px;" data-placeholder="{{NEW_to_unit}}" class="chosen-select form-control" id="u" name="unit_id" multiple>
                            <option value="0">{{HELP_all}}</option>
                            {% for item in tolist %}

                                <option value="{{item.value}}">{{item.label}}</option>

                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <div class="form-group">

                            <label for="t" class="col-sm-2 control-label"><small>{{HELP_desc}}: </small></label>

                            <div class="col-sm-10">


                                <input  type="text" name="fio" class="form-control input-sm" id="t" placeholder="{{HELP_desc}}">



                            </div>



                        </div>






                    </div>
                        
                        
                        
                        <div class="form-group">
  <label for="is_client" class="col-sm-2 control-label"><small>{{EXT_for_clients}}</small></label>
  <div class="col-sm-10">
  
  
  
      <div class="col-sm-10">
      <div class="checkbox">
    <label>
      <input type="checkbox" id="is_client"> {{CONF_true}}
      <p class="help-block"><small>{{EXT_for_clients_ext}}</small></p>
    </label>
  </div>
      </div>
  </div>
    </div>
                        
                        
                    <div class="form-group">

                        <label for="t2" class="col-sm-2 control-label"><small>{{HELP_do}}: </small></label>

                        <div class="col-sm-10">


                            <div id="summernote_help"></div>
<div class="text-muted well well-sm no-shadow" id="myid" >
  <div class="dz-message" data-dz-message>
<center class="text-muted">{{PORTAL_fileplace}}</center>
  </div>

<style type="text/css">
  .note-editor .note-dropzone { opacity: 0 !important; }
</style>

<form action="#" class=""></form>

<div class="table table-striped" class="files" id="previews">
 
  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->



<table class="table" style="margin-bottom: 0px;">
                  <tbody><tr>
                    <td style="width:50%"><small><p class="name" data-dz-name></p> </small></td>
                    <td><small class="text-muted"><p class="size" data-dz-size></p></small></td>
                    <td style="width:30%"><div class="progress progress-striped progress-sm" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success progress-sm" style="width:0%;" data-dz-uploadprogress></div>
        </div></td>
                    <td class="pull-right"><button data-dz-remove class="btn btn-xs btn-danger delete">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button></td>
                  </tr>

                </tbody></table>

</div>
  </div>
 
</div>


                        </div>
                        <div class="col-md-12"><hr></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button id="do_create_help" class="btn btn-success" type="submit"><i class="fa fa-check-circle-o"></i> {{HELP_create}}</button>
                                </div>
                                <input type="hidden" id="manual_hash" value="{{mdtime}}">
                                <div class="btn-group">
                                    <a href="helper" class="btn btn-default" type="submit"><i class="fa fa-reply"></i> {{HELP_back}}</a>
                                </div>
                            </div>


                        </div>
            </form>
            </div></div> </div></div> 
                
            </section>
            {% endif %}
{% if h_check_type == "else" %}


    <section class="content-header">
                    <h1>
                        <i class="fa fa-globe"></i> {{HELPER_title}}
                        <small>{{HELPER_title_ext}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active">{{HELPER_title}}</li>
                    </ol>
                </section>
                
                
                
            <section class="content">


<div class="row">
    
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body"><div class="input-group">
                        <input type="text" class="form-control input-sm" id="find_helper" autofocus placeholder="{{HELPER_desc}}">
      <span class="input-group-btn">
        <button id="" class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i> {{HELPER_find}}</button>
      </span>
                    </div>
            </div>
        </div>
    </div>
</div>




                    <!-- row -->
                    <div class="row">
                    
                    
                    
                                        <div class="col-md-3">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{hostname}}helper?add"  class="btn btn-success btn-sm btn-block"><i class="fa fa-file-o"></i> {{HELPER_create}}</a>
                    {% if sc4 == true %}
                    <a href="{{hostname}}helper?edit_cats" class="btn btn-default btn-sm btn-block"><i class="fa fa-list"></i> {{HELP_cats_title}} </a>
                    {% endif %}
<br>
                    <div class="callout ">
                                        
                                        <small> <i class="fa fa-info-circle"></i> 
{{HELPER_info}}
         </small>
                                    </div>
                        </div>
                        <div class="col-md-12">
                            






                        </div>
                    </div>
                    
                                    
                                    
                                    
                    
                    
                    
                    </div>
                    
                    <div class="col-md-9" id="help_content">
                    
                    </div>
                    
                    
                    
                    
                    
                    </div>
            </section>    
                
                
                
                {% endif %}

                

 {% endif %}
        
