<section class="content-header">
                    <h1>
                        <i class="fa fa-comments"></i> {{MESSAGES_us}}
                        <small>{{MESSAGES_us_ext}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active">{{MESSAGES_us}}</li>
                    </ol>
                </section>



<section class="content">


<div class="row">







<div class="col-md-3">
	<div class="row">
		
		<div class="col-md-12">
			<a id="select_main_chat" class="btn btn-block btn-primary" >{{MESSAGES_main}}</a>
			<br>
		</div>
		
		<div class="col-md-12">
		
		<div class="box box-info">

                                <div class="box-body">

                                
	                                <input class="form-control input-sm" id="find_user" type="text" placeholder="{{MESSAGES_fio}}" value="{{ufio}}">
                                   
                                    
                                            <div id="user_list" style="margin-top: 15px;">
                                                <ul class="nav nav-pills nav-stacked">
	                                                {% for item in uarr %}


                                                    {% if item.tuid == item.uniq_id %}
                                                    <li class="user_li active" user-id="{{item.uniq_id}}">
                                                    <a href="#">
	                                                    <img style="width: 25px;
height: 25px;" src="{{item.usr_img}}" class="img-circle" alt="User Image">
                                                     {{item.name_user | raw}}
                                                     
                                                     {{item.tt | raw}}
                                                     </a>
                                                     </li>
                                                    {% endif %}
               
               {% if item.get_act == false %}
                                                    <li class="user_li" user-id="{{item.uniq_id}}">
                                                    <a href="#">
	                                                    <img style="width: 25px;height: 25px;" src="{{item.usr_img}}" class="img-circle" alt="User Image">
                                                     {{item.name_user | raw}}
                                                     
                                                     {{item.tt | raw}}
                                                     </a>
                                                     </li>

                                                     {% endif %}
                                                    {% endfor %}
                                                    
                                                    
                                                </ul>
                                            </div>    
                                    
                                    
                                                                    </div><!-- /.box-body -->
                            </div>

{% if req_clients_status == true %}
<div class="box box-danger">
                                <div class="box-header">
                                    <h3 id="" class="box-title">
                                    
                                    {{chat_rq}}
                                    
                                    </h3>

                                </div>

<div class="box-body">
<ul class="nav nav-pills nav-stacked">

{% for v in rc %}
                        <li class="user_li" user-id="{{v.id}}">
                                                    <a href="#">
                                                        <img style="width: 25px;height: 25px;" src="{{v.img}}" class="img-circle" alt="User Image">
{{v.name}}
                                                     </a>
                                                     </li>
{% endfor %}


</ul>
</div>


</div>
{% endif %}

		
	</div>
		
	</div>
	
</div>
<div class="col-md-9">
		
		
		<div class="row">
			<div class="col-md-12"><div class="box box-primary" style="margin-bottom: 2px; height:100%;">
                                <div class="box-header">
                                    <h3 id="title_chat" class="box-title">
                                    
                                    {{mwith}}
                                    
                                    </h3>

                                </div>
                                <div class="box-body" >
	                                

                                    <div class="box-body chat" id="content_chat" style=" min-height: 350px; max-height: 350px; scroll-behavior: initial; overflow-y: scroll;">
                                   {{view_messages | raw}}
                                    </div>
                                    
                                                                   </div><!-- /.box-body -->	                                
                                    <div class="loading1 "></div>
	                                <div class="loading2 "></div>
                            </div></div>
			<div class="col-md-12"><div class="box box-solid">
                                
                                <div class="box-body">
	                                
	                                
                                   <div class="input-group" id="for_msg">
                                        <input name="msg" id="msg" class="form-control" data-toggle="popover" data-html="true" data-trigger="manual" data-placement="top" data-content="{{MESSAGES_sel_text}}" placeholder="{{MESSAGES_sel_text}}">
                                        <div class="input-group-btn">
                                            <button value="" id="do_comment" class="btn btn-success"><i class="fa fa-comment"></i></button>
                                            
                                            {% if tget == true %}
                                   <input type="hidden" id="target_user" value="{{get_user_val_by_hash}}">
                                   <input type="hidden" id="total_msgs_main" value="{{get_total_msgs_main}}">
									   
{% else %}
<input type="hidden" id="target_user" value="main">
<input type="hidden" id="total_msgs_main" value="{{get_total_msgs_main}}">
{% endif %}
                                            
                                            
                                            

                                            
                                            
                                            
                                        </div>
                                    </div>
                                    
                                                                   </div><!-- /.box-body -->
                            </div></div>
			
		</div>
		
		
		
		
	</div>











</div>



</section>