<div class="wrapper">

               <header class="main-header">

            <a href="{{hostname}}{{index_page}}" class="logo">
            
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="{{img_logo_small}}">
                 {{name_of_firm}}
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->



 

          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">{{EXT_toggle_nav}}</span>
          </a>





                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">


{% if main_portal_active == "true" %}
<li class="dropdown messages-menu">
<a href="{{hostname}}">{{PORTAL_title}}</a>
</li>
{% endif %}


                    <li class="dropdown messages-menu">
                            <a href="#" id="show_online_users" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-users"></i>
                                <span class="label label-success online_users_label">{{get_total_users_online}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header"> <strong class="online_users_label">{{get_total_users_online}}</strong> {{EXT_users_online}}</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="online_users_content">
{% for item in ar_online %}

<li><!-- start message -->
                                            <a href="view_user?{{item.uniq_id}}">
                                                <div class="pull-left">
                                                    <img src="{{item.usr_img}}" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    {{item.name}}
                                                    
                                                    
                                                </h4>
                                                <p>{{item.posada}}</p>
                                            </a>
                                        </li><!-- end message -->
                                        {% endfor %}
                                        
                                        
                                                                            </ul>
                                </li>
                                <li class="footer"><a href="clients">{{EXT_users_all_view}}</a></li>
                            </ul>
                        </li>
                        
                        
                        
                    
                    
<li class="dropdown messages-menu" id="unread_msg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-warning label_unread_msg">{{atm_v | raw}}</span>
                            </a>
                            <ul class="dropdown-menu">
                            <p class="header" id="nav_t_msgs"> 
                                <center>

                                {{title_m | raw}}</center></p>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="unread_msgs_content">
                                    
                                    {% for item in ar_msg %}
                                    
                                    
                                        <li><!-- start message -->
                                            <a href="messages?to={{item.user_code}}">
                                                <div class="pull-left">
                                                    <img src="{{item.usr_img}}" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    {{item.usr_name}}
                                                    
                                                    <small><i class="fa fa-clock-o"></i> <time id="b" datetime="{{item.date_op}}"></time> </time></small>
                                                </h4>
                                                <p>{{item.msg}}</p>
                                            </a>
                                        </li><!-- end message -->
                                        {% endfor %}
                                        
                                        
                                        
                                        
                                        
                                                                            </ul>
                                </li>
                                <li class="footer"><a href="messages">{{EXT_all_msgs}}</a></li>
                            </ul>
                        </li>
                        
           


{% if cal_count != 0 %}
<li class="dropdown messages-menu" id="">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-calendar"></i>
                                <span class="label label-info">{{cal_count}}</span>
                            </a>


                            
                            <ul class="dropdown-menu">
                                <p class="header" id="nav_t_events"> 
                                <center>{{CALENDAR_NAVBAR_W | raw}}</center> </p>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="">
{{calendar_get_events_today | raw}}






                                    </ul>
                                    </li>
                                    
                                    </ul>
                                    </li>

{% endif %}












                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{namemy}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{usr_img}}" class="img-circle" alt="User Image" style="border: 2px solid;
border-color: transparent;
border-color: rgba(255, 255, 255, 0.2);" />
                                    <p>
                                        {{usr_fio}}
                                        <small>{{usr_posada}}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-6 text-center">
                                        <a href="{{hostname}}stats">{{STATS_TITLE_short}}</a>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <a href="{{hostname}}help">{{NAVBAR_help}}</a>
                                    </div>
                                    
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    
                                        <a href="{{hostname}}profile" class="btn btn-default btn-flat"> <i class="fa fa-user"></i> {{NAVBAR_profile}}</a>
                                    </div>
                                    <div class="pull-right">
                                    
                                        <a href="{{hostname}}logout" class="btn btn-default btn-flat"> <i class="fa fa-sign-out"></i> {{NAVBAR_logout}}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        









        
        
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{usr_img}}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>{{EXT_hello}}, {{usr_name}}</p>

                            <a ><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="{{hostname}}list" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input name="t" type="text" class="form-control" placeholder="{{LIST_find_button}}" data-toggle="tooltip" data-placement="bottom" title="{{LIST_find_ph}}"/>
                            <span class="input-group-btn">
                                <button type='submit' name='find' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    
                    
                    
                    
                    <ul class="sidebar-menu">
                        <li 
{% if cur_file_name == "dashboard" %} class="active" {% endif %}
                        >
                            <a  href="{{hostname}}dashboard">
                                <i class="fa fa-dashboard"></i> <span>
                                {{DASHBOARD_TITLE}}</span>
                            </a>
                        </li>
                        
                        <li {% if cur_file_name == "create" %} class="active" {% endif %}><a href="{{hostname}}create"><i class="fa fa-tag"></i> {{NAVBAR_create_ticket}}</a></li>
                        

                        
            <li {% if cur_file_name == "list" %} class="active" {% endif %}><a href="{{hostname}}list"><i class="fa fa-list-alt"></i> {{NAVBAR_list_ticket}} {{newtickets | raw}}</a></li>


            <li {% if cur_file_name == "news" %} class="active" {% endif %}><a href="{{hostname}}news"><i class="fa fa-bullhorn"></i> {{NAVBAR_news}}</a></li>   

            <li {% if cur_file_name == "calendar" %} class="active" {% endif %}><a href="{{hostname}}calendar"><i class="fa fa-calendar"></i> {{CALENDAR_title}}{{cal_et | raw}}</a></li> 
            
                        <li {% if cur_file_name == "messages" %} class="active" {% endif %}><a href="{{hostname}}messages"><i class="fa fa-comments"></i> {{MESSAGES_navbar}} {{atm | raw}}</a></li>
            
            
            <li {% if cur_file_name == "clients" %} class="active" {% endif %}><a href="{{hostname}}clients"><i class="fa fa-users"></i>  {{USERS_list}}</a></li>
                        
            
            
            
            
            <li {% if cur_file_name == "helper" %} class="active" {% endif %}><a href="{{hostname}}helper"><i class="fa fa-globe"></i> {{NAVBAR_helper}}</a></li>
            
                        <li {% if cur_file_name == "notes" %} class="active" {% endif %}><a href="{{hostname}}notes"><i class="fa fa-book"></i> {{NAVBAR_notes}}</a></li>
                        
                        
{% if some_priv == true %}
 <li class="treeview {{tree_stat_class}}">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i><span> {{EXT_graph}}</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                            <li {% if cur_file_name == "main_stats" %} class="active" {% endif %}><a href="{{hostname}}main_stats"><i class="fa fa-line-chart"></i> {{ALLSTATS_main}}</a></li>
                            <li {% if cur_file_name == "user_stats" %} class="active" {% endif %}><a href="{{hostname}}user_stats"><i class="fa fa-pie-chart"></i> {{EXT_graph_user}}</a></li>

                            <li {% if cur_file_name == "sla_rep" %} class="active" {% endif %}><a href="{{hostname}}sla_rep"><i class="fa fa-bolt"></i> {{SLA_rep}}</a></li>


                            </ul>
 </li>
{% endif %}

                        

{% if val_admin == true %}

                         <li class="treeview {{tree_admin_class}}">
                            <a href="#">
                                <i class="fa fa-shield"></i>
                                <span>{{NAVBAR_admin}} </span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                             <li {% if cur_file_name == "config" %} class="active" {% endif %}><a href="{{hostname}}config"><i class="fa fa-cog"></i> {{NAVBAR_conf}}</a></li>

                             <li {% if cur_file_name == "portal" %} class="active" {% endif %}><a href="{{hostname}}portal"><i class="icon-svg" style=" padding-right: 6px;"></i> {{PORTAL_title}}</a></li>



                    <li {% if cur_file_name == "users" %} class="active" {% endif %}><a href="{{hostname}}users?list"><i class="fa fa-users"></i> {{NAVBAR_users}}</a></li>



                    <li {% if cur_file_name == "deps" %} class="active" {% endif %}><a href="{{hostname}}deps"><i class="fa fa-sitemap"></i> {{NAVBAR_deps}}</a></li>
                    <li {% if cur_file_name == "units" %} class="active" {% endif %}><a href="{{hostname}}units"><i class="fa fa-building-o"></i> {{NAVBAR_units}}</a></li>

                                        <li {% if cur_file_name == "mailers" %} class="active" {% endif %}><a href="{{hostname}}mailers"><i class="fa fa-paper-plane-o"></i> {{NAVBAR_mailers}}</a></li>
                                        
                    <li {% if cur_file_name == "files" %} class="active" {% endif %}><a href="{{hostname}}files"><i class="fa fa-files-o"></i>  {{NAVBAR_files}}</a></li>
                    
                    <li {% if cur_file_name == "scheduler" %} class="active" {% endif %}><a href="{{hostname}}scheduler"><i class="fa fa-clock-o"></i>  {{cron_navbar}}</a></li>
                    
                                        
                    <li {% if cur_file_name == "approve" %} class="active" {% endif %}><a href="{{hostname}}approve"><i class="fa fa-check-square-o"></i> {{NAVBAR_approve}}{{apr | raw}}</a></li>
                            
                            
                            <li {% if cur_file_name == "posada" %} class="active" {% endif %} ><a href="{{hostname}}posada"><i class="fa fa-male"></i> {{NAVBAR_posads}}</a></li>
                            
                            
                            
                            </ul>
                            
                         </li>
{% endif %}
                       
                        
                        
                        
                                            </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

<div class="content-wrapper" >
<div class="main_i" style="{{style_hide}}">