
<section class="content-header">
                    <h1>
                        <i class="fa fa-user"></i> {{NAVBAR_profile}}
                        <small>{{NAVBAR_profile_ext}}</small>
                    </h1>
                    <ol class="breadcrumb">
                       <li><a href="{{hostname}}index.php"><span class="icon-svg"></span> {{name_of_firm}}</a></li>
                        <li class="active">{{NAVBAR_profile}}</li>
                    </ol>
                </section>



<input type="hidden" id="main_last_new_ticket" value="{{get_last_ticket_new}}">






<section class="content">



<div class="row">


<div class="col-md-3">

<div class="row">
  <div class="col-md-12">
                            <div class="box box-warning" >
                                <div class="box-header" >
                                
                                    <h4 style="text-align:center;">{{fio}}<br><small>
                                    {{get_user_val_posada | raw}}


                                    </small></h4>

                                </div>
                                <div class="box-body">
                                  
                        <center>
                            <img src="{{get_user_img}}" class="img-rounded img-responsive" alt="User Image">
                        </center><br>
                        
                        
                                <form action="{{hostname}}action" method="post" id="form_avatar" enctype="multipart/form-data"> 
             
             <span class="file-input btn btn-block btn-default btn-file" style="width:100%">
                {{PROFILE_select_image}} 
                <input id="file_avatar" type="file" name="file">
                <input type="hidden" name="mode" value="set_user_avatar">
            </span>
            <button id="del_profile_img" class="btn btn-block bg-maroon">{{PROFILE_del_image}}</button>



        </form>
        
        
       
        
                           
                                    
                                    
                                </div><!-- /.box-body -->
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                          
  </div>
  <div class="col-md-12">      
  
  
  
  <div class="box box-info">
                                
                                <div class="box-body">
                                    
                                    <strong ><small>{{PROFILE_priv}}:</small></strong><br>
                  <small>{{priv_status_name | raw}}</small>
                                    <hr>
                                    <strong><small>{{PROFILE_priv_unit}}:</small></strong>
                                    <p><small>{{units_u | raw}}</small></p>
                                                                    </div><!-- /.box-body -->
                                
                            </div>

      
      </div>
      
      
</div>


</div>

<div class="col-md-9">


<div class="row">

<div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-user"></i> {{P_main}}</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    
                                    
     
      <div class="panel-body">
      


      
      <form class="form-horizontal" role="form">
      

  
      <div class="form-group" id="fio_user_grp">
    <label for="fio" class="col-sm-4 control-label"><small>{{WORKER_fio}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="fio" type="text" class="form-control input-sm" id="fio" placeholder="{{WORKER_fio}}" value="{{fio}}">
        </div>
  </div>
  
  
    <div class="form-group">
    <label for="mail" class="col-sm-4 control-label"><small>{{P_mail}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="mail" type="text" class="form-control input-sm" id="mail" placeholder="{{P_mail}}" value="{{email}}">
    <p class="help-block"><small>{{P_mail_desc}}</small></p>
        </div>
  </div>

        <div class="form-group">
    <label for="pb" class="col-sm-4 control-label"><small>Pushbullet</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="push" type="text" class="form-control input-sm" id="pb" placeholder="push" value="{{push}}">
        </div>
  </div>
  
      <div class="form-group">
    <label for="tel" class="col-sm-4 control-label"><small>{{WORKER_tel_full}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="tel" type="text" class="form-control input-sm" id="tel" placeholder="{{WORKER_tel_full}}" value="{{tel}}">
    
        </div>
  </div>
  
        <div class="form-group">
    <label for="skype" class="col-sm-4 control-label"><small>Skype</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="skype" type="text" class="form-control input-sm" id="skype" placeholder="skype" value="{{skype}}">
    
        </div>
  </div>
  
          <div class="form-group">
    <label for="adr" class="col-sm-4 control-label"><small>{{APPROVE_adr}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="adr" type="text" class="form-control input-sm" id="adr" placeholder="{{APPROVE_adr}}" value="{{adr}}">
    
        </div>
  </div>
  
  
  
  
     <div class="control-group">
    <div class="controls">
        <div class="form-group">
            <label for="posada" class="col-sm-4 control-label"><small>{{WORKER_posada}}: </small></label>
            <div class="col-sm-8" style="">
                <select name="posada" id="posada" data-placeholder="{{WORKER_posada}}" class="chosen-select form-control input-sm">
                    <option value="0"></option>
   

{% for item in pos_arr %}

                        <option {{item.se}} value="{{item.name}}">{{item.name}}</option>

                    {% endfor %}

                </select>
            </div>
        </div>

    </div>
</div>

                                
 
  
  
  
  
          <div class="form-group">
    <label for="lang" class="col-sm-4 control-label"><small>{{SYSTEM_lang}}</small></label>
        <div class="col-sm-8">
    <select data-placeholder="{{SYSTEM_lang}}" class="chosen-select form-control input-sm" id="lang" name="lang">
                    <option value="0"></option>
                    
                        <option {{status_lang_en}} value="en">English</option>
                        <option {{status_lang_ru}} value="ru">Русский</option>
                        <option {{status_lang_ua}} value="ua">Українська</option>
</select>
        </div>
  </div>


            <div class="form-group">
    <label for="noty" class="col-sm-4 control-label"><small>{{NOTY_layot}}</small></label>
        <div class="col-sm-8">
    <select data-placeholder="{{NOTY_layot}}" class="chosen-select form-control input-sm" id="noty" name="noty">
                    <option value="0"></option>
                    
                        <option {{check_user_noty_layot_top}}value="top">Top</option>
                        <option {{check_user_noty_layot_topLeft}} value="topLeft">TopLeft</option>
                        <option {{check_user_noty_layot_topCenter}} value="topCenter">TopCenter</option>
                        <option {{check_user_noty_layot_topRight}} value="topRight">TopRight</option>         

                        <option {{check_user_noty_layot_centerLeft}} value="centerLeft">CenterLeft</option>                        
                        <option {{check_user_noty_layot_center}} value="center">Center</option>                        
                        <option {{check_user_noty_layot_centerRight}} value="centerRight">CenterRight</option>    

                        <option {{check_user_noty_layot_bottomLeft}} value="bottomLeft">BottomLeft</option>       
                        <option {{check_user_noty_layot_bottomCenter}} value="bottomCenter">BottomCenter</option> 
                        <option {{check_user_noty_layot_bottomRight}} value="bottomRight">BottomRight</option> 
                        <option {{check_user_noty_layot_bottom}} value="bottom">Bottom</option>                  
</select>
        </div>
  </div>


  
  
    <div class="col-md-offset-3 col-md-6">
<center>
    <button type="submit" id="edit_profile_main" value="{{usid}}"
     class="btn btn-success"><i class="fa fa-pencil"></i> {{P_edit}}</button>
</center>
</div>
      </form>
      
      
      
      
      
      </div>
      
      <div id="m_info"></div>
                                </div><!-- /.box-body -->
                            </div>
                            
                            
                            
                            
                            
                            
                          
</div>


{% if ufields == true %}

<div class="col-md-12">
<div class="box box-solid">
<div class="box-header">
<h3 class="box-title"><i class="fa fa-bookmark-o"></i> {{FIELD_add_title}}</h3>

</div>
      <div class="box-body">
      <div class="panel-body">
      
 <!--######### ADDITIONAL FIELDS ############## -->

<form id="add_field_form" class="form-horizontal" role="form">
    <div >
{% for item in fields_arr %}

                      <div class="" id="">
    <div class="">
        <div class="form-group">
            <label for="{{item.hash}}" class="col-sm-4 control-label"><small>{{item.name}}: </small></label>

            <div class="col-sm-8" style=" padding-top: 5px; ">

{% if item.t_type == "date" %}
<div class='input-group date' id='date_finish'>

                    <input id="{{item.hash}}" type='text' class="form-control input-sm d_finish" data-date-format="YYYY-MM-DD" value="{{item.v}}" name="{{item.hash}}" placeholder="{{item.placeholder}}" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

{% endif %}

{% if item.t_type == "text" %}
<input type="text" class="form-control input-sm" name="{{item.hash}}" id="{{item.hash}}" placeholder="{{item.placeholder}}" value='{{item.v}}'>

{% endif %}

{% if item.t_type == "textarea" %}
<textarea rows="3" class="form-control input-sm animated" name="{{item.hash}}" id="{{item.hash}}" placeholder="{{item.placeholder}}">{{item.v}}</textarea>
{% endif %}


{% if item.t_type == "select" %}
<select data-placeholder="{{item.placeholder}}" class="chosen-select form-control" id="{{item.hash}}" name="{{item.hash}}">

{% for items in item.v %}
                            <option value="{{items.value}}" {{items.sc}}>{{items.value}}</option>

                            {% endfor %}
                
                        
            </select>
{% endif %}
{% if item.t_type == "multiselect" %}





<select data-placeholder="{{item.placeholder}}" class="multi_field" id="{{item.hash}}" name="{{item.hash}}[]" multiple >

{% for items2 in item.v %}
                            <option value="{{items2.value}}" {{items2.sc}}>{{items2.value}}</option>

                            {% endfor %}
                
                        
            </select>
{% endif %}
                
            </div>
            
        </div>
    </div>
    
    </div> 
{% endfor %}
    
</div>
    </form>
    





<!--######### ADDITIONAL FIELDS ############## -->
    <div class="col-md-offset-3 col-md-6">
<center>
    <button type="submit" id="edit_profile_ad_f" value="{{usid}}" class="btn btn-success"><i class="fa fa-pencil"></i> {{P_edit}}</button>
</center>
</div>
</div><div id="ad_f_res"></div>

      </div>
      </div>
      </div>
{% endif %}

{% if tfiles == true %}
<div class="col-md-12">
<div class="box box-solid">
<div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-file"></i> {{TICKET_file_list}}</h3>
                                </div><!-- /.box-header -->
<div class="box-body">

                    
                        <div class="row" style="padding:10px;">

                        <div class="col-md-12">
                            <table class="table table-hover">
                                    <tbody>
                                
                          {% for item in tfiles_arr %}          
                                    
                                    
                    <tr>
                        <td style="width:20px;"><small>{{item.ic | raw}}</small></td>
                        <td><small>{{item.ct | raw}}</small></td>
                        <td><small>{{item.size}} Mb</small></td>
                    </tr>
{% endfor %}
                                    </tbody>
                            </table>

                        </div>
                        
                        
                        
                        
                        
                        
                    </div>


</div>
</div>
</div>
{% endif %}

<div class="col-md-12">
<div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-bell"></i> {{PROFILE_perf_notify}}</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                <div class="panel-body">

<form class="form-horizontal" role="form">


              <div class="form-group">
    <label for="mail_nf" class="col-sm-4 control-label"><small>{{CONF_mail_status}}</small></label>
        <div class="col-sm-8">
    <select data-placeholder="{{CONF_mail_status}}" class="multi_field" id="mail_nf" name="mail_nf[]" multiple="multiple" >

{% for item in mailnf_arr %}
                            <option value="{{item.key}}" {{item.sc}}>{{item.value}}</option>


              {% endfor %}  
                        
            </select>
        </div>
  </div>


              <div class="form-group">
    <label for="sms_nf" class="col-sm-4 control-label"><small>{{EXT_sms_noti}}</small></label>
        <div class="col-sm-8">
    <select data-placeholder="{{EXT_sms_noti}}" class="multi_field" id="sms_nf" name="sms_nf[]" multiple="multiple" >

{% for item in smsc_arr %}
                            <option value="{{item.key}}" {{item.sc}}>{{item.value}}</option>


              {% endfor %}  
                        
            </select>
        </div>
  </div>

          <div class="form-group">
    <label for="mob" class="col-sm-4 control-label"><small>{{EXT_SMS_noti_mob}}</small></label>
        <div class="col-sm-8">

<div class="input-group">
    <span class="input-group-addon"><small>+</small></span>
      
   


    <input autocomplete="off" name="mob" type="text" class="form-control input-sm" id="mob" placeholder="Ex. 380501234567" value="{{mob}}">
    </div>
        </div>
  </div>

  <div class="col-md-offset-3 col-md-6">
<center>
    <button type="submit" id="edit_nf" value="{{usid}}" class="btn btn-success"><i class="fa fa-pencil"></i> {{P_edit}}</button>
</center>
</div>
</form>
                                </div>
<div id="nf_info"></div>



                                </div>
                                </div>
</div>

<div class="col-md-12">
{% if check_ldap_user == true %}

                       <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-key"></i> {{P_passedit}}</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                <div class="panel-body">
      <form class="form-horizontal" role="form">
      
              <div class="form-group">
    <label for="old_pass" class="col-sm-4 control-label"><small>{{P_pass_old}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="old_pass" type="password" class="form-control input-sm" id="old_pass" placeholder="{{P_pass_old2}}">
        </div>
  </div>
      
      
        <div class="form-group">
    <label for="new_pass" class="col-sm-4 control-label"><small>{{P_pass_new}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="new_pass" type="password" class="form-control input-sm" id="new_pass" placeholder="{{P_pass_new2}}">
        </div>
  </div>
  
          <div class="form-group">
    <label for="new_pass2" class="col-sm-4 control-label"><small>{{P_pass_new_re}}</small></label>
        <div class="col-sm-8">
    <input autocomplete="off" name="new_pass2" type="password" class="form-control input-sm" id="new_pass2" placeholder="{{P_pass_new_re2}}">
        </div>
  </div>
  <div class="col-md-offset-3 col-md-6">
<center>
    <button type="submit" id="edit_profile_pass" value="{{usid}}" class="btn btn-success"><i class="fa fa-pencil"></i> {{P_do_edit_pass}}</button>
</center>
</div>
  
  
      </form>
  
      </div>
      <div id="p_info"></div>
                                </div>
                       </div>
                                
                     

{% endif %}
</div>

<div class="col-md-12">
{% if api_status == true %}


<div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-key"></i> API code</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                <div class="panel-body">
                                <pre><strong id="api_code">{{api_key}}</strong> <button class="pull-right btn btn-default btn-xs" id="gen_new_api"><i class="fa fa-refresh"></i></button></pre>
                                </div>
                                </div>


{% endif %}
</div>
</div>


</div>


</div>


                    
                    
                    
                    
                    
                    
                    
                    
                    </div>

                    </section>